:root {
    --btnBackground: #566573;
    --btnBackgroundHover: #808B96;
    --mainBackground: #2C3E50;
    --mainTextColor: #D5DBDB;
}

body {
    position: relative;
    min-height: 98vh;
    background: var(--mainBackground);
    color: var(--mainTextColor);
}

header {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#display-highscore-div button,
#highscore-input-div button,
header button {
    text-decoration: none;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px;
    /* round corners */
    padding: 3px 10px 3px 10px;
}

header p {
    padding: 3px 10px 3px 10px;
    /* add same padding as highscores so looks cleaner */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


main h1 {
    margin: 3vh 20vw;
    font-size: 200%;
    text-align: left;
}

main div,
#instructions {
    padding: 0 15% 0 15%;
    text-align: center;
    font-size: 125%;
}

main button {
    margin: 3vh;
    width: max-content;
    padding: 0 10px 0 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px;
    /* round corners */
    font-size: 150%;
}

main ul {
    align-self: flex-start;
    margin-left: 20vw;
    list-style: none;
}

main ul li {
    margin: 3vh;
    width: max-content;
    min-width: 10vw;
    padding: 5px 10px 5px 10px;
    background: var(--btnBackground);
    color: var(--mainTextColor);
    border: 0;
    border-radius: 7px;
    /* round corners */
    font-size: 150%;
}

main div {
    justify-content: flex-start;
    display: none;
}

main div {
    margin: 1rem;
}

/* all buttons have same hover effect so reused code :) */
#submit-highscore-div button:hover,
#display-highscore-div button:hover,
body button:hover,
main ul li:hover {
    background: var(--btnBackgroundHover);
}

footer {
    position: absolute;
    height: 5vh;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#highscore-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#highscore-input-div>* {
    margin: 10px;
}

#highscore-input-div>p {
    display: inline;
}

#highscore-input-div>input {
    width: 30%;
}